
<div class="shopping-cart">
  <h3>Votre panier</h3>

  <div *ngIf="this.shoppingCart.bookList && this.shoppingCart.bookList.length; then shoppingCartList else emptyCart"></div>

  <ng-template #shoppingCartList>
    <div class="shopping-cart__items-container">
      <div class="shopping-cart__items-header">
        <div class="col-md-6 offset-md-2">Titre</div>
        <div class="col-md-1">Prix</div>
        <div class="col-md-1">Quantité</div>
      </div>

      <app-shopping-cart-item *ngFor="let bookWithQuantity of bookListWithQuantity" [bookWithQuantity]="bookWithQuantity"></app-shopping-cart-item>
    </div>
      
    <div class="shopping-cart__items-price">
      <p>
          <span class="shopping-cart__items-price--xs">Total (<b>{{ shoppingCart.bookList.length }} article(s)</b>) avant réductions: <span class="shopping-cart__items-price--md-black">EUR {{ priceBeforeDiscount }}</span><br/></span>
          Prix Total après réductions: <span class="shopping-cart__items-price--lg-red">EUR {{ priceAfterDiscount }}</span>
      </p> 
    </div>
  </ng-template>

  <ng-template #emptyCart>
    Votre panier est vide. Retournez à la <a [routerLink]="['']">liste des livres</a>
  </ng-template>
</div>

