.shopping-cart {
  padding: 20px;

  &__items-header {
    width: 100%;
    border-bottom: solid 1px #DDDDDD;

    div {
      display: inline-block;
      padding: 10px;
      font-weight: bold;
    }
  }

  &__items-price {
    margin-top: 20px;
    font-size: 16px;
    text-align: right;

    &--lg-red {
      color: #B12704;
      font-size: 18px;
      font-weight: bold
    }
  }
}