.navbar {
  background-color: #232F3E;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  &__logo {
    width: 45px;
    height: 45px;
  }

  .navbar-collapse .navbar-nav a {
    color: white;
  }

  &__shopping-cart {
    img {
      width: 25px;
      height: 25px;
      vertical-align: top;
      margin-right: 5px;
      margin-top: 5px;
    }

    &--lg-orange {
      font-size: 24px;
      color: #F08804;
      vertical-align: sub;
      margin-left: 5px;
    }
  }
}