<div class="book-list">
  <h3 class="book-list__title">Promotions sur ces ventes :</h3>

  <app-book-search (searchEmitter)="updateBookList($event)"></app-book-search>
  
  <div *ngIf="loader; else booksContainer" class="book-list__loader">
    <img src="assets/img/loader.gif" alt="loader" />
  </div>
  
  <ng-template #booksContainer>
    <div *ngIf="books.length; then bookList else noBooks"></div>
    <ng-template #bookList>
      <div class="book-list__items-container row">
        <app-book-card *ngFor="let book of booksDisplayed" [book]="book"></app-book-card>
        
        <div *ngIf="!booksDisplayed.length">
          Oups. Nous n'avons pas trouvé votre recherche.
        </div>
      </div>
    </ng-template>
    <ng-template #noBooks>Aucun livres disponible</ng-template>
  </ng-template>
</div>
