@import '../../../shared/styles/colors.scss';

.shopping-cart-item {
  width: 100%;
  padding: 10px;
  border-bottom: solid $light-grey 1px;

  &__img, &__title, &__price, &__quantity {
    display: inline-block;
    padding: 10px 20px;
  }

  &__title, &__price, &__quantity {
    line-height: 130px;
  }

  &__img img {
    width: 100px;
    height: 140px;
  }

  &__title {
    color: $dark-blue;
    font-size: 18px;
    font-weight: bold;
  }

  &__price {
    color: $red;
    font-size: 18px;
    font-weight: bold;
  }

  &__deletion {
    text-align: center;
    
    img {
      width: 25px;
      height: 25px;
      margin-top: 60px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}