
<footer class="footer font-small blue-grey lighten-5">
  <div class="footer__information container text-center text-md-left mt-5">

    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">Henri Potier Shop</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">A propos</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Projets</a>
        </p>
        <p>
          <a href="#!">A propos de nous</a>
        </p>
        <p>
          <a href="#!">Blog</a>
        </p>
        <p>
          <a href="#!">Nous recrutons</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Votre compte</a>
        </p>
        <p>
          <a href="#!">Devenir un affilié</a>
        </p>
        <p>
          <a href="#!">Tarifs d'expédition</a>
        </p>
        <p>
          <a href="#!">Aide</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Paris, France
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@hps.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89
        </p>
      </div>
    </div>
  </div>

  <div class="footer__copyright text-center py-3">
    © 2019 Copyright - Henri Potier Shop
  </div>
</footer>