@import '../../../shared/styles/colors.scss';

.footer {
  padding-top: 20px;
  background-color: $dark-blue;
  color: $white;

  &__information hr {
    background-color: $white;
  }

  &__copyright {
    background-color: $black;
  }
}