@import '../../../shared/styles/colors.scss';

.book-card {
  width: 250px;
  height: 428px;
  display: inline-block;
  margin: 15px 3px;
  overflow: hidden;
  vertical-align: top;

  &__img-container {
    width: 100%;
    padding: 10px;
    background-color: $light-background-grey-1;
    text-align: center;

    img  {
      width: 180px;
      height: 250px;
      margin-bottom: 10px;
    }
  }

  &__information {
    padding: 10px;
    background-color: $light-background-grey-2;

    &--clikable:hover {
      color: $orange;
      cursor: pointer;
    }

    button img {
      width: 20px;
      margin-right: 8px;
    }
  }
}