<div *ngIf="book" class="book-card">
  <div class="book-card__img-container">
    <img [src]="book.cover" [alt]="book.title" />
  </div>

  <div class="book-card__information">
    <p>
      <span class="book-card__information--clikable" [routerLink]="['/book/', book.isbn]"><b>Titre:</b> {{ book.title }}</span><br>
      <b>Prix:</b> EUR {{ book.price }}
    </p> 

    <button type="button" class="btn btn-warning" id="btn-add-to-cart" (click)="addBookToShoppingCart(book)">
      <img src="assets/img/cart.png" />Ajouter au panier
    </button>
  </div>
</div>
