<div *ngIf="book" class="book-card">
  <div class="book-card__img-container">
    <img [src]="book.cover" [alt]="book.title" />
  </div>

  <div class="book-card__information">
    <p>
      <b>Titre:</b> {{ book.title }}<br />
      <b>Prix:</b> {{ book.price }}
    </p>

    <button type="button" class="btn btn-warning" (click)="addBookToShoppingCart(book)">Ajouter au panier</button>
  </div>

  <!-- <p>Synopsis:</p>
  <div *ngFor="let info of book.synopsis">
    <p class="book-card__p">{{ info }}</p>
  </div> -->
</div>
